/*!
 * Start Bootstrap - Freelancer v5.0.0 (https://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-freelancer/blob/master/LICENSE)
 */

@import './import/color.scss';

body {
    font-family: 'Lato', "Font Awesome 5 Free";
    font-display: auto;
}

::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat';
}

.img-fluid {
  max-width: 180px;
}

header {
    &.masthead {
        padding-top: calc(5rem + 8px);
        padding-bottom: 7rem;
        background-color: $primary-color !important;
    }
    .masthead h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .masthead h2 {
        font-size: 1.3rem;
        font-family: 'Lato';
    }

    @media (min-width: 992px) {
        &.masthead {
            padding-top: calc(5rem + 8px);
            padding-bottom: 6rem;
            background-color: $primary-color !important;
        }
        .masthead h1 {
            font-size: 4.75em;
            line-height: 4rem;
        }
        .masthead h2 {
            font-size: 1.75em;
        }
    }
}

hr{
  &.star-light,
  &.star-dark {
      max-width: 30rem;
      padding: 0;
      text-align: center;
      border: none;
      border-top: solid 0.25rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      margin-left: auto;
      margin-right: auto;
  }
  &.star-light:after,
  &.star-dark:after {
      position: relative;
      top: -.8em;
      display: inline-block;
      padding: 0 0.25em;
      content: '\f005';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 2em;
  }
  &.star-light {
      border-color: $tertiary-color;
  }
  &.star-light:after {
      color: $tertiary-color;
      background-color: $primary-color;
  }
  &.star-dark {
      border-color: $secondary-color;
  }
  &.star-dark:after {
      color: $secondary-color;
      background-color: $tertiary-color;
  }
}

// contact
.btn-social {
    width: 4.25rem;
    height: 4.25rem;
    font-size: 1.75rem;
    line-height: 3.3rem;
}

#contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: $secondary-color;
    color: $tertiary-color;
}

// copyright
#copyright {
    background-color: $quaternary-color !important;
}

.flag {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  height: 23px;
}